.done-header
  =render "signups/sabheader"

.done-content
  .done-content__top
    会員登録完了
  .done-content__main
    .done-content__main__text
      ありがとうございます。
      %br/
      登録が完了しました。
    .done-content__main__btn
      = link_to root_path, class: "done-btn" do
        フリマアプリを始める

=render "signups/sabfooter"