.wipper
  .signup-footer
    %nav
      %ul.footer-links
        %li
          =link_to "プライバシーポリシー","#"
        %li
          =link_to "利用契約", "#"
        %li 
          =link_to "特定商取引に関する表記", "#"
    .signup-footer__logo
      =link_to root_path do
        =image_tag "material/logo/logo-white.png", class: "signup-footer__logo__size"
    .inc
      ©︎Furima,Inc.