.contents
  .header
    .fmarket
      .fmarket__box
        = link_to root_path do
          = image_tag "material/logo/logo.png", class: "logo"
    .clearfix
      .progress-bar1
        .progress-bar1__0
          会員情報
        .progress-bar1__x
      .progress-bar2
        お届け先住所入力
        .progress-bar2__x
      .progress-bar3
        .progress-bar3__0
          完了
        .progress-bar3__x