.side-bar
  .side-bar--upper
    = link_to mypage_users_path ,class: 'side-bar-link' do
      .side-bar-box
        %li.side-bar--top__menu マイページ
    .side-bar-box
      %li.side-bar--top__menu お知らせ
    .side-bar-box
      %li.side-bar--top__menu いいね！一覧
    .side-bar-box
      %li.side-bar--top__menu 出品する
    .side-bar-box
      %li.side-bar--top__menu 出品した商品-出品中
    .side-bar-box
      %li.side-bar--top__menu 出品した商品-取引中
    .side-bar-box
      %li.side-bar--top__menu 出品した商品-売却済み
    .side-bar-box
      %li.side-bar--top__menu 購入した商品-取引中
    .side-bar-box
      %li.side-bar--top__menu 購入した商品-過去の取引
    .side-bar-box
      %li.side-bar--top__menu ニュース一覧
    .side-bar-box
      %li.side-bar--top__menu 評価一覧
    .side-bar-box
      %li.side-bar--top__menu ガイド
    .side-bar-box
      %li.side-bar--top__menu お問い合わせ
  
  .side-bar--center
    .side-bar--center__title
      フリマペイ
      .side-bar-box
        %li.side-bar--top__menu 売上・振込申請
      .side-bar-box
        %li.side-bar--top__menu ポイント
  
  .side-bar--bottom
    .side-bar--bottom__title
      設定
      .side-bar-box
        %li.side-bar--top__menu プロフィール
      .side-bar-box
        %li.side-bar--top__menu 発送元・お届け先住所変更
      - card = Card.where(user_id: current_user.id).first
      -if card.blank?
        = link_to _card_registration_users_path ,class: 'side-bar-link' do
          .side-bar-box
            %li.side-bar--top__menu 支払い方法
      - else
        = link_to card_index_path ,class: 'side-bar-link' do
          .side-bar-box
            %li.side-bar--top__menu 支払い方法
      .side-bar-box
        %li.side-bar--top__menu メール/パスワード
      .side-bar-box
        %li.side-bar--top__menu 本人情報
      .side-bar-box
        %li.side-bar--top__menu 電話番後の確認
      = link_to _logout_users_path ,class: 'side-bar-link' do
        .side-bar-box
          %li.side-bar--top__menu ログアウト