.signup-footer
  %nav
    %ul.footer-links
      %li
        =link_to "プライバシーポリシー","#"
      %li
        =link_to "利用契約", "#"
      %li 
        =link_to "特定商取引に関する表記", "#"
  .signup-footer__logo
    =link_to image_tag "material/logo/logo-white.png", size: "180x40"
  .inc
    ©︎Furima,Inc.