.wipper
  .main
    .main-vanner
      .content
        .content__info
          人生を変えるフリマアプリ
        .content__text
          FURIMAは誰でも簡単に出品・購入できる<br>フリマアプリです
        .content__btn
          ボタン
    .top-info
      %h2.title
        FURIMAが選ばれる３つの理由
      .lists
        .list
          .list_content
            = image_tag src="material/pict/pict-reason-01.jpg", class: "list_content_image"
            %p.number 1
          %h3.subtitle
            %span 3分
            ですぐに出荷
            %p.subtitle_text スマホで入力するだけで簡単に出品できる！
        .list
          .list_content
            = image_tag src="material/pict/pict-reason-02.jpg", class: "list_content_image"
            %p.number 2
          %h3.subtitle
            %span シンプル
            で使いやすい
            %p.subtitle_text めんどくさい入力は必要なく、検索も購入もスムーズ

        .list
          .list_content
            = image_tag src="material/pict/pict-reason-03.jpg", class: "list_content_image"
            %p.number 3
          %h3.subtitle
            手数料
            %span 業界最安
            %p.subtitle_text-last 最大３％でお得に出品&購入！

    .middle-vanner

    .middle-info
      ミドルインフォ
    .picup-contents
      ピックアップコンテンツ
    .picup-contents
      ピックアップコンテンツ
  .app-vanner
