a { 
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

.wipper {
  background-color: #eeeeee;
  text-align: center;

  .signup-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    .footer-links {
      display: flex;
      justify-content: space-around;
      a {
        font-size: 12px;
        color:black;
      }
    }
    &__logo {
      margin: 40px auto 0;
      &__size {
        height: 40px;
        width: 140px;
      }
    }
    .inc {
      font-size: 13px;
    }
  }
}