.content__credit-card {
  &__registration, &__datelist-look {
    width: 50%;
    height: 50px;
    margin-top: 40px;
    position: relative;
    label {
      line-height: 50px;
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__number-look, &__date {
    width: 50%;
    height: 50px;
    font-size: 20px;
    background-color: #f8f8f8;
    text-align: center;
    line-height: 50px;
  }

  &__delete-button {
    width: 50%;
    padding: 0 10%;
    margin-top: 80px;
    button {
    border: none;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    line-height: 48px;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    color: white;
    width: 50%;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border-style: none;
    }
  }
  }