.wrapper {
  overflow:hidden;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .header{
    height: 110px;
    width: 100%;
    &__content{
      max-width: 1040px;
      height: 82px;
      padding: 15px 0 0;
      background-color: white;
      margin: 0 auto;
      .main{
        width: 100%;
        height: 50px;
        display: flex;
        &__logo{
          height: 40px;
          width: 140px;
          padding-right: 30px;
        }
        &__search{
          width: 870px;
          height: 45px;
          color: gray;
          display: flex;
          .search--text{
            border: 1px solid lightgray;
            width: 100%;
            height:15px;
            padding: 10px 5px;
            margin-top: 5px;
            margin-right: 1px;
          }
          .search--btn{
            height: 37px;
            width: 37px;
            background-color: #3CCACE;
            text-align: center;
            color: white;
            margin-top: 5px;
            #icon{
              margin-top: 10px;
            }
          }
        }
      }
      .lists{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .list--left{
          display: flex;
          ul {
            list-style: none;
            li{
              display: inline-block;
              padding-right: 40px;
              font-size: 14px;
            }
          } 
        }
        .list--right{
          font-size: 14px;
          &__link{
            text-decoration: none;
            color: black;
            padding-left: 16px;
            margin-top: 10px;
          }
          
        }
      }
    }
  }
  .main{
    &--vanner{
      width: 100%;
      height: 560px;
      background-image: image-url("material/pict/bg-mainVisual-pict_pc.jpg");
      background-position:top center;
      background-size: cover;
      background-repeat: no-repeat;
      .content{
        color: #fff;
        padding-left: 50px;
        text-shadow:3px 3px 5px #0d0d0d;
        line-height: 2;
        &__info{
          font-size: 60px;
          padding-top: 200px;
        }
        &__text{
          font-size: 16px;
        }
        &__btn{
          padding-top: 20px;
          &__link {
            text-decoration: none;
          }
          &__app{
            height: 50px;
            width: 150px;
            &:hover {
              opacity: 0.5 ;
            }
          }
          &__google{
            height: 50px;
            width: 150px;
            padding-left: 10px;
            &:hover {
              opacity: 0.5 ;
            }
          }
        }
      }
    }

    .top--info{
      width: 100%;
      height: 500px;
      padding: 60px 20px;
      .title{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        margin: 0 0 25px;
        padding: 0 0 15px;
        &::after{
          content: "";
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .lists{
        display: flex;
        max-width: 1020px;
        margin: 0 auto;
        .list{
          height: 300px;
          width: 300px;
          margin: 16px 5% 0 0;
          &__content{
            position: relative;
            &__image {
              height: 300px;
              width: 300px;
              &__icon{
                height: 300px;
                width: 300px;
              }
            }

            .number{
              position: absolute;
              top: 0;
              left: 0;
              font-size: 30px;
              background-color: #3CCACE;
              color: #fff;
              padding: 10px 20px;
              margin: 0 5px 0 0;
            }

          }
          .subtitle{
            font-weight: bold;
            font-size: 24px;
            margin: 15px 0 0 2px;
            line-height: 50px;
            text-align: center;
            span {
              color: #3CCACE;
            }
            &__text {
              margin-top: 10px;
              font-size: 18px;
              text-align: left;
              line-height: 1.5;
            }
            &__text--last{
              margin-top: 10px;
              font-size: 18px;
              text-align: left;
              line-height: 1.5;
              text-align: center;
            }
          }
        }
      }
    }

    .middle--vanner{
      background-image: image-url("material/pict/bg-topMiddleDl-pict.jpg");
      width: 100%;
      height: 400px;
      background-position: bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
      .content {
        color: #fff;
        text-shadow:3px 3px 5px #0d0d0d;
        padding-left: 160px;
        padding-top: 90px;
        .subtitle {
          font-size: 30px;
        }
        .text {
          padding-top: 25px;
          line-height: 1.5;
          font-size: 18px;
        }
        &__btn{
          padding-top: 20px;
          &__link {
            text-decoration: none;
          }
          &__app{
            height: 50px;
            width: 150px;
            &:hover {
              opacity: 0.5 ;
            }
          }
          &__google{
            height: 50px;
            width: 150px;
            padding-left: 10px;
            &:hover {
              opacity: 0.5 ;
            }
          }
        }
      }
    }

    .middle--info{
      width: 100%;
      height: 600px;
      padding: 60px 20px;
      .title {
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        position: relative;
        margin: 0 0 25px;
        padding: 0 0 15px;
        &::after{
          content: "";
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .lists{
        width: 100%;
        display: flex;
        justify-content: center;
        .list{
          width: 310px;
          height: 400px;
          padding-left: 35px;
          padding-right: 35px;
          &__content {
            &__image{
              display: block;
              margin:auto;
              width: 200px;
              height: 320px;
            }
          }
          .subtitle{
            text-align: center;
            padding-top: 40px;
            font-size: 19px;
            font-weight: bold;
          }
          .text{
            line-height: 1.5;
            padding-top: 15px;
            font-size: 17px;
          }
        }
      }
      
    }

    .picup--contents{
      background-color: #f8f8f8;
      width: 100%;
      height: 450px;
      padding: 80px 0 0;
      .picup__title{
        text-align: center;
        font-size: 28px;
      }
      .picup__subtitle{
        text-align: center;
        color: #3CCACE;
        font-weight: bold;
        font-size: 24px;
        padding-top: 15px;
        &__link {
          text-decoration: none;
          color: #3CCACE;
        }
      }

      .lists{
        padding-top: 30px;
        display: flex;
        justify-content: center;

        .list{
          height: 280px;
          width: 250px;
          background-color: #fff;
          margin-left: 20px;
          margin-right: 20px;
          
          &__link {
            text-decoration: none;
            color: black;
            .list__image{
              height: 180px;
              width:250px;
            }
            .details{
              padding: 16px;
              .name{
                font-size: 16px;
                font-weight:normal;
                line-height: 1.5;
              }
              &__info{
                ul {
                  display: flex;
                  justify-content: space-between;
                  padding: 5px;
                  li {
                    display: inline-block;
                    font-size: 16px;
                  }
                }
                p {
                  font-size: 10px;
                }
              }
              
            }
          
         }
       }
      }

    }

  }
  .app--vanner {
    background-image: image-url("material/pict/bg-appBanner-pict.jpg");
    width: 100%;
    height: 359px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .content{
      color: #fff;
      text-shadow:3px 3px 5px #0d0d0d;
      text-align: center;
      padding: 100px;
      line-height: 1.5;
      &__subtitle{
        font-size: 24px;
      }
      &__text{
        font-size: 35px;
      }

      &__btn{
        padding-top: 20px;
        &__link {
          text-decoration: none;
        }
        &__app{
          height: 50px;
          width: 150px;
          &:hover {
            opacity: 0.5 ;
          }
        }
        &__google{
          height: 50px;
          width: 150px;
          padding-left: 10px;
          &:hover {
            opacity: 0.5 ;
          }
        }
      }
    }
  }
}