a:link, a:visited, a:active {
  color:rgb(0, 149, 238);
}
a:hover{
  color:red;
}

.item__content{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .errors__box{
    color:#ea352d;;
    padding: 10px;
    }
  #image-box{
    padding: 30px;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid rgb(221, 221, 221);
    .item__image--alert{
      background-color: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    .js-file_group{
      input[type="file"]{
        padding: 5px;
      }
      .js-remove{
        background-color: blue;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
        width: 24px;
      }
    }
  }
  .item__name-description{
    padding: 30px;
    border-bottom: 1px solid rgb(221, 221, 221);
    .item__name{
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      margin-bottom: 20px;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      input[type="text"]{
        width: 100%;
        height: 48px;
        font-size: 14px;
        margin-top: 5px;
      }
      ::placeholder{
        padding: 5px 5px;
      }
    }
    .item__description{
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .select--wrap__default{
        width: 100%;
        height: 100px;
        font-size: 14px;
        margin-top: 5px;
      }
      ::placeholder{
        padding: 5px 5px;
      }
    }
  }
  .item__detail{
    color: rgb(136, 136, 136);
    font-size: 14px;
    line-height: 1.4em;
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid rgb(221, 221, 221);
    .item__category{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .category--input{
        display: flex;
        position: relative;
        .select--wrap__default{
          width: 100%;
          height: 48px;
          font-size: 14px;
          margin-top: 5px;
          padding-left: 10px;
          -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
          -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
          appearance: none; /* 標準のスタイルを無効にする */
        }
        ::-ms-expand { /* select要素のデザインを無効にする（IE用） */
          display: none;
          }
        .fas.fa-angle-down{
          top: 16px;
          right: 20px;
          font-size: 22px;
          width: 9px;
          position: absolute;
          color: #888;
        }
      }
    }
    .item__size{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px;
      .item__image--optional{
        background-color: gray;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .size--input{
        display: flex;
        position: relative;
        .select--wrap__default{
          width: 100%;
          height: 48px;
          font-size: 14px;
          margin-top: 5px;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none; 
          appearance: none; 
        }
        ::-ms-expand { 
          display: none;
          }
        .fas.fa-angle-down{
          top: 16px;
          right: 20px;
          font-size: 22px;
          width: 9px;
          position: absolute;
          color: #888;
        }
      }
    }
    .item__brand{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      margin-bottom: 20px;
      .item__image--optional{
        background-color: gray;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      input[type="text"]{
        width: 100%;
        height: 48px;
        font-size: 14px;
        margin-top: 5px;
      }
      ::placeholder{
        padding: 5px 5px;
      }
    }
    .item__status{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .status--input{
        display: flex;
        position: relative;
        .select--wrap__default{
          width: 100%;
          height: 48px;
          font-size: 14px;
          margin-top: 5px;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none; 
          appearance: none; 
        }
        ::-ms-expand { 
          display: none;
          }
        .fas.fa-angle-down{
          top: 16px;
          right: 20px;
          font-size: 22px;
          width: 9px;
          position: absolute;
          color: #888;
        }
      }
    }
  }
  .item__delivery{
    color: rgb(136, 136, 136);
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 24px;
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid rgb(221, 221, 221);
    .item__postage{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .postage--input{
        display: flex;
        position: relative;
        .select--wrap__default{
          width: 100%;
          height: 48px;
          font-size: 14px;
          margin-top: 5px;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none; 
          appearance: none; 
        }
        ::-ms-expand { 
          display: none;
          }
        .fas.fa-angle-down{
          top: 16px;
          right: 20px;
          font-size: 22px;
          width: 9px;
          position: absolute;
          color: #888;
        }
      }
    }
    .item__delivery_way{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      margin-bottom: 20px;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .delivery_way--input{
        display: flex;
        position: relative;
        .select--wrap__default{
          width: 100%;
          height: 48px;
          font-size: 14px;
          margin-top: 5px;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none; 
          appearance: none; 
        }
        ::-ms-expand { 
          display: none;
          }
        .fas.fa-angle-down{
          top: 16px;
          right: 20px;
          font-size: 22px;
          width: 9px;
          position: absolute;
          color: #888;
        }
      }
    }
    .item__delivery_area{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      margin-bottom: 20px;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .delivery_area--input{
        display: flex;
        position: relative;
        .select--wrap__default{
          width: 100%;
          height: 48px;
          font-size: 14px;
          margin-top: 5px;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none; 
          appearance: none; 
        }
        ::-ms-expand { 
          display: none;
          }
        .fas.fa-angle-down{
          top: 16px;
          right: 20px;
          font-size: 22px;
          width: 9px;
          position: absolute;
          color: #888;
        }
      }
    }
    .item__delivery_date{
      color: black;
      font-size: 14px;
      vertical-align: top;
      text-align: left;
      .item__image--alert{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .delivery_data--input{
        display: flex;
        position: relative;
        .select--wrap__default{
          width: 100%;
          height: 48px;
          font-size: 14px;
          margin-top: 5px;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none; 
          appearance: none; 
        }
        ::-ms-expand { 
          display: none;
          }
        .fas.fa-angle-down{
          top: 16px;
          right: 20px;
          font-size: 22px;
          width: 9px;
          position: absolute;
          color: #888;
        }
      }
    }
  }
  .item__price{
    font-size: 14px;
    vertical-align: top;
    text-align: left;
    padding: 30px;
    .item__image--alert{
      background-color: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    input[type="number"]{
      width: calc( 100% - 50px ) ;
      height: 48px;
      font-size: 14px;
      margin-top: 5px;
    }
  }
  .item--submit{
    input[type="submit"]{
      background-color: #ea352d;
      color: #fff;
      margin-bottom: 30px;
      font-size: 17px;
      min-height: 48px;
      padding: 0 24px;
      border-radius: 10px;
    }
  }
  .move__toppage{
    font-size: 17px;
    padding-bottom: 30px;
    color:rgb(0, 149, 238);
  }
}