.page__header{
  height: 150px;
  background: white;
}

.logout{
  background: #F5F5F5;
  &__whole{
    width: 70%;
    margin: auto ;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    .form-logout{
      width: 500px;
      height: 4vw;
      padding: 70px;
      background-color: #FFFFFF;
      &__middle{
        margin: 0 auto;
        width: 55%;
        height: 90%;
        &__btn{
          width: 100%;
          line-height: 40px;
          font-size: 20px;
          text-align: center;
          color: #fff;
          border: 1px solid #3CCACE;
          background-color: #3CCACE;
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}