.logout__header{
  height: 150px;
  background: white;
}

.logout{
  background: #F5F5F5;
  .logout__whole{
    width: 70%;
    margin: auto ;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    &__sidebar{
    }
    .form-logout{
      width: 500px;
      height: 4vw;
      padding: 70px;
      background-color: #FFFFFF;
      &__middle{
        margin: 0 auto;
        width: 55%;
        height: 90%;
        &__btn{
          @include btn;
        }
      }
    }
  }
}