.done-header {
  .contents{
    width: 1440px;
    background-color: #eeecec;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  
    .header{
      height: 128px;
      background-color: #eeecec;
      .fmarket{
        height: 90px;
        width: 200px;
        left: 350px;
        position: relative;
      
        &__box{
          .logo{
            margin: 35px 10px 10px;
            width: 185px;
            height: 49px;
          }
        }
      }
      .clearfix{
        width: 500px;
        height: 40px;
        position: relative;
        left: 595px;
        bottom: 54px;
        display: flex;
        background-color: #eeecec;
        .progress-bar1{
          position: relative;
          z-index: 1;
          &__0{
            font-weight: 600;
            font-size: 12px;
            position: relative;
            color: #ea352d;
            right: 3px;
          }
          &__x{
            background-color: #ea352d;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: center;
            position: absolute;
            top: 23px;
            left: 15px;
          }
          &__x::after{
            background-color: #ea352d;
            height: 2px;
            width: 109px;
            position: absolute;
            z-index: -1;
            display: inline-block;
            vertical-align: center;
            content: '';
            bottom: 5px;
          }
        }
        .progress-bar2{
          font-weight: 600;
          font-size: 12px;
          position: relative;
          z-index: 1;
          color: #ea352d;
          left: 43px;
  
          &__x{
            background-color: #ea352d;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            display: inline-block;
            vertical-align: center;
            top: 23px;
            left: 30px;
          }
          &__x::after{
            background-color: #ea352d;
            height: 2px;
            width: 125px;
            position: absolute;
            z-index: -1;
            display: inline-block;
            vertical-align: center;
            content: '';
            bottom: 5px;
          }
        }
        .progress-bar3{
          font-weight: 600;
          font-size: 12px;
          position: relative;
          z-index: 1;
          color: #ea352d;
          left: 50px;
          &__0{
            position: relative;
            left: 36px;
          }
  
          &__x{
            background-color: #ea352d;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            display: inline-block;
            vertical-align: center;
            top: 23px;
            left: 42px;
          }
        }
      }
    }
  }
}

.done-content {
  background: #eeecec;
  &__top {
    text-align: center;
    margin: 0 auto;
    width: 700px;
    height: 50px;
    padding: 32px;
    line-height: 100px;
    background-color: #fff;
    font-size: 22px;
    font-weight: bold;
    border-bottom: solid;
    border-color: #eeecec;
  }
  &__main {
    width: 700px;
    height: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 40px 32px 64px;
    &__text {
      text-align: center;
      padding: 50px, 218px, 30px, 200px;
      font-size: larger;
    }
  &__btn {
    margin-top: 40px;
    .done-btn {
      display: block;
      width: 50%;
      height: 48px;
      font-size: 14px;
      background-color: #ea352d;
      color: white;
      line-height: 48px;
      text-align: center;
      margin-top: 32px;
      margin: 0 auto;
      }
    }
  } 
}